@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-body-text {
  @apply text-stone-900 dark:text-stone-100;
}
.font-body {
 font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont;
}
.bg-body {
 
}
.text-bright {
 color: var(--text-color-bright);
}
.bg-light {
 background-color: var(--background-light);
}
.border-body-text {
 border-color: var(--text-color);
}



@layer base {
 :root {
     --text-color: #bbb;
     --text-color: #a3a3a3;
 
     --text-color-white: #fff;
     --text-color-dark:var(--background-light)
     --text-color-bright: #737373;
     --prim-color: #b94c50;
 
     --background: #121212;
     --background-light: #202020;

     @apply text-lg leading-normal;
 }
 *,
 *:after,
 *:before {
     @apply m-0 p-0 box-border;
 }
 h1 {
     @apply text-3xl md:text-4xl xl:text-5xl font-extrabold mb-4 text-stone-900 dark:text-white;
 }
 h2 {
     @apply text-3xl;
 }
 button {
 
 }
 a {
     @apply text-black dark:text-stone-100
 }

 a:focus {
     @apply no-underline outline-primary;
 }
 p,
 table {
     @apply mb-6 text-stone-900 dark:text-gray-300 font-body text-justify  text-lg md:text-neutral;
 }
 main {
     @apply mb-8;
 }
 b, strong {
     @apply font-bold text-stone-700 dark:text-neutral-300;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     @apply mb-4 font-extrabold text-stone-900 dark:text-white font-body;
 }
 figcaption {
     @apply mt-2 text-center text-sm italic block;
 }
 hr {
     @apply mb-4 border-x-0 border-t-0 border border-b border-[#505050];
 }
 img {
     @apply w-full max-w-full;
 }
 a > img,
 a:hover > img {
     @apply no-underline;
 }
 a {
     @apply text-primary  ;
 }
 a:hover,
 a:visited:hover {
     @apply text-zinc-600 ;
 }
 a:focus {
     @apply outline-primary no-underline decoration-primary  dark:text-amber-700;
 }
 html {
     @apply text-[16px] text-body-text font-body;
 }
 ul,
 ol {
     @apply text-stone-900 dark:text-white font-body;
 }
 body {
     @apply bg-stone-200 dark:bg-stone-950 text-bright;
 }
 td,
 th {
     @apply p-2 border-white border;
 }
 blockquote {
     @apply relative italic bg-light p-4 mb-6 before:content-[""] before:h-full before:w-1 before:inline-block before:absolute before:top-0 before:left-0 before:right-0 before:bg-primary; 
 }
 blockquote p {
     @apply mb-0;
 }
 table {
     @apply border-collapse w-full overflow-x-scroll block border border-body-text;
 }
 th {
     @apply text-white;
 }
 em {
     @apply flex flex-wrap overflow-x-hidden
 }
 i {
     @apply text-stone-800 dark:text-stone-300 font-semibold
 }
 
 .page-intro {
     @apply text-center w-full mx-auto mb-8 mt-0 max-w-lg;
 }

}

@layer components {
     .time {
         @apply text-xs text-bright text-center block;
     }
     .content {
         @apply block;
     }
     .content ul {
         @apply list-disc;
     }
     .content ol {
         @apply list-decimal;
     }
     .content pre code {
         @apply overflow-hidden text-xs md:text-neutral;
     }
     .content li {
         @apply mb-2;
     }
     .content ul ul,
     .content ol ol,
     .content ol ul,
     .content ul ol {
         @apply mb-0 list-inside;
         list-style-type: square;
     }
     .content img {
         @apply mb-4 block object-cover;
     }
     .content ul,
     .content ol {
         @apply px-4;
     }
     .content li p {
         @apply mb-0;
     }
     .content time {
         @apply text-center block mb-8;
     }
}